.App {
  text-align: center;
}

.series-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.series-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: left;
}

.series-card img {
  max-width: 100%;
  border-radius: 8px;
}

.series-card h2 {
  font-size: 1.2em;
  margin: 0.5em 0;
}

.series-card p {
  font-size: 0.9em;
  color: #666;
}
